.img1 {
    background-image: url('../../public/IconOne.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}

.img2 {
    background-image: url('../../public/IconTwo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}